[alias]
  ignored = !git ls-files -v | grep "^[[:lower:]]"
[color]
  ui = true
[diff]
  noprefix = true
[fetch]
  prune = true
[gpg]
  format = ssh
[init]
  defaultBranch = main
[pull]
  ff = only
[user]
	name = Thomas Conner
	email = thomas.conner@connertechnology.io
	signingKey = ~/.ssh/id_ed25519.pub
